/*.--.     Alex Max Tobi          ,-. .--. 
 : .--'   Project C - Map       .'  :: ,. :
 : : _ .--.  .--. .-..-..---.    `: :: :: :
 : :; :: ..'' .; :: :; :: .; `    : :: :; :
 `.__.':_;  `.__.'`.__.': ._.'    :_;`.__.'
                        : :                
                        :_;
*/
#characters {
	position: absolute;
	width: 250px;
	margin-top:3.5em;
	top: 0;
	bottom: 0;
	overflow: scroll;
}

#characters .character.disabled {
	opacity: 0.9;
}

#characters .character.disabled:hover {
	opacity: 1;
}

#characters .character.disabled img {
	border-color: #888 !important;
	-webkit-filter: grayscale(1);
	filter: grayscale(100%);
}

#characters .character.disabled img:hover {
	-webkit-filter: grayscale(0);
	filter: grayscale(0);
}

#characters .character {
	padding: .5em 0;
	border-bottom: 1px solid #B6B6B6;
	transition: all .3s;
}

#characters .character img {
	float: left;
	width: 75px;
	height: 75px;
	margin-right: .5em;
	border: 5px solid #FFA000;
	transition: all .3s;
}
#characters .character .characterinfo {
	padding: 1em 0;
	vertical-align: middle;
	height: 75px;
}
#characters .character .name {
	font-weight: bold;
	font-size: 1.25em;
	overflow:hidden;
	height: 1.25em;
}

#characters .character .house {
	color: #727272;
}