/*.--.     Alex Max Tobi          ,-. .--. 
 : .--'   Project C - Map       .'  :: ,. :
 : : _ .--.  .--. .-..-..---.    `: :: :: :
 : :; :: ..'' .; :: :; :: .; `    : :: :; :
 `.__.':_;  `.__.'`.__.': ._.'    :_;`.__.'
                        : :                
                        :_;
*/
#filter .input-group {
	width: 100%;
}

#filter #filter-dropdown img {
	height: 2em;
	margin: 0 .5em 0 -1em;
}
#filter ul li.hover, #filter ul li:hover {
	color: #262626;
	text-decoration: none;
	background-color: #d5d5d5;
}