/*.--.     Alex Max Tobi          ,-. .--. 
 : .--'   Project C - Map       .'  :: ,. :
 : : _ .--.  .--. .-..-..---.    `: :: :: :
 : :; :: ..'' .; :: :; :: .; `    : :: :; :
 `.__.':_;  `.__.'`.__.': ._.'    :_;`.__.'
                        : :                
                        :_;
*/
#map {
	background: #001;
	position: fixed;
	left:0;
	right: 250px;
	top:0;
	bottom: 40px;
}

#map .deleteButton {
	width: 30px;
	height: 30px;
	background-color: #fff;
	font-size: 20px;
	font-weight: bold;
	text-align: center;
}

/* @group Labels */ 
.sealabel {
	font-family: "Lobster Two";
	font-weight: bold;
	color: #ccf;
	text-align: center;
}

.zoom0 .sealabel{
	font-size: 5px;
}

.zoom1 .sealabel{
	font-size: 10px;
}

.zoom2 .sealabel{
	font-size: 20px;
}

.zoom3 .sealabel{
	font-size: 40px;
}

.zoom4 .sealabel{
	font-size: 80px;
}

.zoom5 .sealabel{
	font-size: 160px;
}

.zoom0 .big {
	font-size: 10px;
}

.zoom1 .big {
	font-size: 20px;
}

.zoom2 .big {
	font-size: 40px;
}

.zoom3 .big{
	font-size: 80px;
}

.zoom4 .big {
	font-size: 160px;
}

.zoom5 .big {
	font-size: 320px;
	opacity: 0.5;
}
/* @end */