/*.--.     Alex Max Tobi          ,-. .--. 
 : .--'   Project C - Map       .'  :: ,. :
 : : _ .--.  .--. .-..-..---.    `: :: :: :
 : :; :: ..'' .; :: :; :: .; `    : :: :; :
 `.__.':_;  `.__.'`.__.': ._.'    :_;`.__.'
                        : :                
                        :_;
*/
/* @group Basics */
#map {
	background: #001;
	position: fixed;
	left:0;
	right: 250px;
	top:0;
	bottom: 40px;
}

#map .deleteButton {
	width: 30px;
	height: 30px;
	background-color: #fff;
	font-size: 20px;
	font-weight: bold;
	text-align: center;
}
/* @end */

/* @group Labels */ 
	
/* @group Colorful Character Marker */
.colormarker {
	font-size: 32px;
	color: #a00;
}

.colormarker span {
	left: -16px;
	top: -32px;
}

.colormarker img{
	position: relative;
	width: 16px;
	height: 16px;
	border-radius: 8px;
	top:-7px;
	left: -23px;
}

.zoom5 .colormarker span {
	left: -32px;
	top: -64px;
}

.zoom5 .colormarker {
	font-size: 64px;
	margin-left: 16px;
	margin-top: 32px; 
}

.zoom5 .colormarker img {
	width: 32px;
	height: 32px;
	border-radius: 16px;
	top: -16px;
	left: -45px;
}
/* @end */

/* @group Map Features */
.leaflet-marker-icon.got {
	width: 16px !important;
	height: 16px !important;
	margin-left: -10px !important;
	margin-top: -10px !important;
}

.leaflet-marker-icon.got.city {
	background: transparent url("../img/labels/city.png") no-repeat;
	background-size: 16px;
}

.leaflet-marker-icon.got.town {
	background: transparent url("../img/labels/town.png") no-repeat;
	background-size: 16px;
}

.leaflet-marker-icon.got.castle {
	background: transparent url("../img/labels/castle.png") no-repeat;
	background-size: 16px;
}

.leaflet-marker-icon.got.ruin {
	background: transparent url("../img/labels/ruin.png") no-repeat;
	background-size: 16px;
}

.leaflet-marker-icon.got.other {
	background: transparent url("../img/labels/other.png") no-repeat;
	background-size: 16px;
}

.zoom5 .leaflet-marker-icon.got {
	width: 32px !important;
	height: 32px !important;
	margin-left: -19px !important;
	margin-top: -19px !important;
	background-size: 32px;
}

.zoom0 .prio6, .zoom1 .prio6, .zoom2 .prio6, .zoom3 .prio6, .zoom4 .prio6,
.zoom0 .prio5, .zoom1 .prio5, .zoom2 .prio5, .zoom3 .prio5, .zoom4 .prio5,
.zoom0 .prio4, .zoom1 .prio4, .zoom2 .prio4, .zoom3 .prio4, 
.zoom0 .prio3, .zoom1 .prio3, .zoom2 .prio3,
.zoom0 .prio2, .zoom1 .prio2,
.zoom0 .prio1 {
	display: none;
}

.zoom5 .wall-label span {
	padding: 0;
	margin-top: 24px; 
	margin-left: -8px; 
	transform-origin: top left;
	display: inline-block;
	transform: rotate(45deg);
}
/* @end */

/* @group Labels next to pins */
.leaflet-label {
	text-shadow: #FFF -1px 0px 0px, #FFF 1px 0px 0px, #FFF 0px 1px 0px, #FFF 0px -1px 0px, #FFF -1px -1px 0px,#FFF 1px 1px 0px,#FFF 1px -1px 0px,#FFF -1px 1px 0px;
	color: #111;
	display: block;
	font: 12px/12px "Helvetica Neue", Arial, Helvetica, sans-serif;
	font-weight: bold;
	padding: 1px 6px;
	position: absolute;
	-webkit-user-select: none;
	   -moz-user-select: none;
	    -ms-user-select: none;
	        user-select: none;
	pointer-events: none;
	white-space: nowrap;
	z-index: 6;
}

.leaflet-label.leaflet-clickable {
	cursor: pointer;
	pointer-events: auto;
}

#map .leaflet-control-custom {
	width: 30px;
	height: 30px;
	background-color: #fff;
	padding: 3px;
	font-size: 20px;
	font-weight: bold;
	text-align: center;
}
/* @end */
/* @end */