/*.--.     Alex Max Tobi          ,-. .--. 
 : .--'   Project C - Map       .'  :: ,. :
 : : _ .--.  .--. .-..-..---.    `: :: :: :
 : :; :: ..'' .; :: :; :: .; `    : :: :; :
 `.__.':_;  `.__.'`.__.': ._.'    :_;`.__.'
                        : :                
                        :_;
*/


/* @group Glyph for Modal */
.glyph-big {
	font-size: 6em;
}

.glyph-spin {
    -webkit-animation: spin 3000ms infinite linear;
    animation: spin 3000ms infinite linear;
}

@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(359deg);
        transform: rotate(359deg);
    }
}

@keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(359deg);
        transform: rotate(359deg);
    }
}
/* @end */

/* @group Modal Header Image */
.city #dynModalLabel {
	background: transparent url("../img/labels/city.png") no-repeat;
	background-size: 32px;
	padding-left: 40px;
}

.town #dynModalLabel {
	background: transparent url("../img/labels/town.png") no-repeat;
	background-size: 32px;
	padding-left: 40px;
}

.castle #dynModalLabel {
	background: transparent url("../img/labels/castle.png") no-repeat;
	background-size: 32px;
	padding-left: 40px;
}

.ruin #dynModalLabel {
	background: transparent url("../img/labels/ruin.png") no-repeat;
	background-size: 32px;
	padding-left: 40px;
}

.other #dynModalLabel {
	background: transparent url("../img/labels/other.png") no-repeat;
	background-size: 32px;
	padding-left: 40px;
}

.person #dynModalLabel {
	background: transparent url("../img/labels/person.png") no-repeat;
	background-size: 32px;
	padding-left: 40px;
}

.house.stark #dynModalLabel {
	background: transparent url("../img/houses/stark.png") no-repeat;
	background-size: 26px;
	padding-left: 40px;
}

.house.baratheon #dynModalLabel {
	background: transparent url("../img/houses/baratheon.png") no-repeat;
	background-size: 32px;
	padding-left: 40px;
}

.house.lannister #dynModalLabel {
	background: transparent url("../img/houses/lannister.png") no-repeat;
	background-size: 31px;
	padding-left: 40px;
}

.house.targaryen #dynModalLabel {
	background: transparent url("../img/houses/targaryen.png") no-repeat;
	background-size: 32px;
	padding-left: 40px;
}
/* @end */

/* @group dynModal wiki */
.gotmap-modal #contentSub, .gotmap-modal #siteSub, .gotmap-modal #jump-to-nav, .gotmap-modal #mw-data-after-content, .gotmap-modal .printfooter, .gotmap-modal .navbox, .gotmap-modal .references, .gotmap-modal .references-small, .gotmap-modal .catlinks, .gotmap-modal sup.reference {
	display: none;
}

.gotmap-modal h2:last-of-type {
	display: none;
} 

/* @group Top Right Infobox */
.gotmap-modal .infobox {
	border: 1px solid #aaa;
	background-color: #f9f9f9;
	color: black;
	margin-bottom: 0.5em;
	margin-left: 1em;
	padding: 0.2em;
	float: right;
	clear: right
}

.gotmap-modal .infobox.bordered {
    border-collapse: collapse
}

.gotmap-modal .infobox.bordered td, .gotmap-modal .infobox.bordered th {
    border: 1px solid #aaa
}

.gotmap-modal .infobox.bordered .borderless td, .gotmap-modal .infobox.bordered .borderless th {
    border: 0
}

.gotmap-modal .infobox th[scope="row"] {
	padding-left: 0.5em;
}

.gotmap-modal .infobox caption {
	font-size: larger;
	margin-left: inherit;
	color: #000;
	padding: 0;
	text-align: center;
}

.gotmap-modal .floatleft {
	margin: 0 .5em .5em 0;
	border: 0;
	float: left;
	clear: left;
}

.gotmap-modal .floatright {
	margin: 0 0 .5em .5em;
	border: 0;
	float: right;
	clear: right;
}
/* @end */

/* @group TOC */
.gotmap-modal .toc {
     border: 1px solid #aaa;
     background-color: #f9f9f9;
     padding: .5em;
     font-size: 95%;
     display: table;
}

.gotmap-modal #toctitle  {
    text-align: center;
}

.gotmap-modal .toc h2  {
    display: inline;
    border: none;
    padding: 0;
    font-size: 100%;
    font-weight: bold;
}

.gotmap-modal .toc ul {
    list-style-type: none;
    list-style-image: none;
    margin-left: 0;
    padding: 0;
    text-align: left
}

.gotmap-modal  .toc ul ul {
    margin: 0 0 0 2em
}

.gotmap-modal  .toc .toctoggle {
    font-size: 94%
}
/* @end */

/* @group Floats */
.gotmap-modal div.tright {
    margin: .5em 0 1.5em 1.5em;
    clear: right;
    float: right;
}

.gotmap-modal div.tleft {
    margin: .5em 1.5em 1.5em 0;
    float: left;
    clear: left;
}
    
.gotmap-modal div.thumb {
    margin-bottom: .5em;
    width: auto;
}
    
.gotmap-modal div.thumbinner {
    border: 1px solid #ccc;
    padding: 3px;
    background-color: #f9f9f9;
    font-size: 94%;
    text-align: center;
    overflow: hidden
}
    
.gotmap-modal .thumbcaption {
    border: none;
    line-height: 1.4em;
    padding: 3px;
    font-size: 94%;
    text-align: left;
}
/* @group @end */

.gotmap-modal .modal-footer {
	clear: both;
}

/* @end */
