/*.--.     Alex Max Tobi          ,-. .--. 
 : .--'   Project C - Map       .'  :: ,. :
 : : _ .--.  .--. .-..-..---.    `: :: :: :
 : :; :: ..'' .; :: :; :: .; `    : :: :; :
 `.__.':_;  `.__.'`.__.': ._.'    :_;`.__.'
                        : :                
                        :_;
*/
#map .withtimeline {
	bottom:50px;
}

#timeline {
	position:fixed;
	left:0;
	right:250px;
	bottom:0;
	height:40px;
	background:#030912;
	color:#fff;
}

#timeline .withtimeline.ui-corner-all,
.withtimeline .ui-corner-all {
  border-radius: 0;
}
