/*.--.     Alex Max Tobi          ,-. .--. 
 : .--'   Project C - Map       .'  :: ,. :
 : : _ .--.  .--. .-..-..---.    `: :: :: :
 : :; :: ..'' .; :: :; :: .; `    : :: :; :
 `.__.':_;  `.__.'`.__.': ._.'    :_;`.__.'
                        : :                
                        :_;
*/

#timeline {
	position:fixed;
	left:0;
	right:250px;
	bottom:0;
	height:40px;
	background:#030912;
	color:#fff;
	padding: 5px 15px 0;
}

.ui-slider {
	position: relative;
	text-align: left;
}

.ui-slider .ui-slider-handle {
	position: absolute;
	z-index: 2;
	width: 20px;
	height: 20px;
	cursor: default;
	-ms-touch-action: none;
	touch-action: none;
}

.ui-slider .ui-slider-range {
	position: absolute;
	z-index: 1;
	display: block;
	border: 0;
}

.ui-slider-horizontal {
	height: 10px;
}

.ui-slider-horizontal .ui-slider-handle {
	top: -.3em;
	margin-left: -.6em;
}

.ui-slider-horizontal .ui-slider-range {
	top: 0;
	height: 100%;
}

.ui-slider-horizontal .ui-slider-range-min {
	left: 0;
}

.ui-slider-horizontal .ui-slider-range-max {
	right: 0;
}

/* Component containers
----------------------------------*/
.ui-widget-content {
	border: 1px solid #404040;
	background: #121212;
}

.ui-widget-header {
	border: 1px solid #404040;
	background: #888888;
}

.ui-state-default {
	border: 1px solid #cccccc;
	background: #adadad;
}

.ui-corner-all {
	border-radius: 8px;
}