/*.--.     Alex Max Tobi          ,-. .--. 
 : .--'   Project C - Map       .'  :: ,. :
 : : _ .--.  .--. .-..-..---.    `: :: :: :
 : :; :: ..'' .; :: :; :: .; `    : :: :; :
 `.__.':_;  `.__.'`.__.': ._.'    :_;`.__.'
                        : :                
                        :_;
*/
#map {
	background: #001;
	position: fixed;
	left:0;
	right: 20%;
	top:0;
	bottom: 0;
}

#filter {
	position: fixed;
	right: 0;
	top: 0;
	width: 20%;
	height: 50px;
	padding: .5em;
	border-bottom: 2px solid #999;
}

#filter .input-group {
	width: 100%;
}

#sidebar {
	position: fixed;
	right:0;
	width: 20%;
	top:50px;
	bottom: 0;
	overflow: scroll;
}

#sidebar ul {
	padding: 0;
	list-style: none;
}

#sidebar li {
	padding: 5px 5px;
	border-bottom: 1px solid #ddd
}

#sidebar li:nth-of-type(odd) {
	background: #eee;
}

#map .deleteButton {
	width: 30px;
	height: 30px;
	background-color: #fff;
	font-size: 20px;
	font-weight: bold;
	text-align: center;
}